body{
	margin:0px;
	padding: 0px;
	background-color:#fff;
	overflow-x: hidden;
	font-family: system-ui;
}

.dashboard-content{
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
}

.clearfix{
	clear: both;
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 100;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.overlay.active{
  opacity: 0.5;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: #ffc515;
  visibility: hidden;
  transform: translateX(-100%); /* İlk durumda gizle */
  transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
  padding-top: 30px;
}

.sidenav 
.sidenav-header 
.logo{
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-family: Raleway, sans-serif;
  cursor: pointer;
  margin: 0px 0px 30px 28px;
  font-size: 36px;
  transition: opacity 0.3s ease-in-out;
}

.sidenav.show{
  transform: translateX(0); /* Menü içeri gelsin diye */
  visibility: visible;
}

.sidenav a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #000;
  display: block;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav-img,
.sidenav-img-hover {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 17%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-in-out;
}

.sidenav-img {
  z-index: 2;
}

.sidenav-img-hover {
  opacity: 0;
  z-index: 0;
}

.sidenav a:hover .sidenav-img {
  opacity: 0;
}

.sidenav a:hover .sidenav-img-hover {
  opacity: 1;
}

.sidenav-img:hover+.sidenav-img-hover {
  opacity: 1;
}

.sidenav a span{
  margin-left: 10px;
  display: inline-block;
  transition: all 0.4s ease-in-out;
}

.sidenav a i{
  transition: margin-left 0.5s ease-in-out;
}

#main {
  padding: 16px;
  transition: margin-left 0.5s ease-in-out;
}

.head{
	padding: 10px 30px;
  transition: padding-left 0.5s;
  width: 100%;
  min-width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: white;
  transition: margin-left 0.5s ease-in-out, width 0.5s ease-in-out;
}

.col-div-6{
	width: 50%;
}

/* Tam sağa yaslanma için ek stil */
.col-div-6:last-child {
  text-align: right;
}

#menuToggle {
  display: flex;
  align-items: center;
  color: #000;
  font-size:30px;
}

.profile{
  display: flex; 
  align-items: center; 
  gap: 10px; 
  width: 100%; 
  justify-content: flex-end;
}

.pro-img{
	float: left;
	width: 38px;
	margin-top: 5px;
  margin-right: 2px;
}

.menu-img{
	width: 30px;
  vertical-align: middle;
}

.profile p{
  margin: 0px;
	color: #000;
	font-weight: 700;
	margin-top: 6px;
	font-size: 15px;
}

.profile span{
  display: block;
  font-size: 14px;
}

.profile a{
  font-size: 30px;
  color: #ffc515;
}

.col-div-3{
	width: 25%;
	float: left;
  margin-bottom: 25px;
  margin-top: 17px;
}

.col-div-8{
	width: 70%;
	float: left;
}

.col-div-4{
	width: 30%;
	float: left;
}

.content-box{
	padding: 20px;
}

.content-box p{
	margin: 0px;
  font-size: 24px;
  color: #000;
  font-weight: 500;
}

.content-box p span{
	float: right;
  color: #fff;
  background-color: #ffc515;
  font-size: 15px;
  padding: 3px 10px;
  cursor: pointer;
}

.content-box th {
  background-color: #d8d9e1;
}

.menu-header{
  cursor: pointer;
}

.nav {
  display: inline-flex;
  align-items: center;
}

.dashboard-text {
  font-weight: 500;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 15px;
}

td, th {
  white-space: nowrap;
  text-align: left;
  padding: 15px;
  color: #000;
  border-bottom: 1px solid #81818140;
}

.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #ffc515;
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}

.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

.col-div-3{
	width: 25%;
	float: left;
  margin-bottom: 25px;
  margin-top: 17px;
}

.box{
	width: 95%;
	background-color: transparent;
	margin: 0 auto;
	padding:10px;
  border-radius: 3%;
  cursor: pointer;
  transition: all 0.3s ease;
  min-height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box-8, .box-4{
	width: 95%;
	background-color: transparent;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
	height: auto;
  min-height: 330px;
  border-radius: 2%;
  margin-left: 10px;
}

.box p{
	font-size: 35px;
  color: #000;
  font-weight: bold;
  line-height: 30px;
  padding-left: 10px;
  margin-top: 20px;
  display: inline-block;
}

.box p span{
	font-size: 20px;
	font-weight: 500;
	color: #000;
}

.box-icon{
	font-size: 40px!important;
  float: right;
  margin-top: 35px!important;
  color: #322e2e;
  padding-right: 10px;
}

.col-div-8{
	width: 70%;
	float: left;
}

.col-div-4{
	width: 30%;
	float: left;
}

.users-table td:nth-child(1),
.menus-table td:nth-child(1),
.products-table td:nth-child(1),
.branches-table .city-col {
  width: 10%;
}

.cities-table td:nth-child(1),
.products-table td:nth-child(4),
.products-table td:nth-child(5) {
  width: 15%;
}

.users-table td:nth-child(2),
.users-table td:nth-child(3),
.users-table td:nth-child(5),
.products-table td:nth-child(2),
.products-table td:nth-child(3),
.products-table td:nth-child(6) {
  width: 20%;
}

.cities-table td:nth-child(3),
.menus-table td:nth-child(2),
.menus-table td:nth-child(3) {
  width: 25%;
}

.cities-table td:nth-child(2),
.cities-table td:nth-child(4),
.users-table td:nth-child(4) {
  width: 30%;
}

.menus-table td:nth-child(4){
  width: 40%;
}

.branches-table .branch-name-col,
.branches-table .address-col,
.branches-table .email-col {
  width: 22%;
}

.branches-table .actions-col {
  width: 24%;
}

.table-actions-scroll {
  overflow-x: auto;
  white-space: nowrap;
  display: block;
}

.menus-table,
.reservations-table,
.cities-table,
.branches-table,
.users-table,
.products-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  min-width: 600px;
}

.menus-table th,
.reservations-table th,
.cities-table th,
.branches-table th,
.users-table th,
.products-table th {
  background-color: #d8d9e1;
  color: #000;
  text-align: left;
  padding: 12px;
  font-weight: 700;
}

.menus-table td,
.reservations-table td,
.cities-table td,
.branches-table td,
.products-table td {
  border-bottom: 1px solid #81818140;
  padding: 12px;
  color: #000;
}

.users-table td {
  padding: 18px;
}

.cities-table td,
.branches-table td,
.reservations-table td {
  padding: 12px 18px;
}

.users-table th,
.cities-table th,
.branches-table th,
.reservations-table th {
  padding: 12px 16px;
}

.menus-table td:first-child,
.products-table td:first-child {
  padding: 0px 10px;
}

.user-details-modal,
.menu-details-modal,
.branch-details-modal,
.product-details-modal,
.menu-update-modal,
.product-update-modal,
.branch-update-modal,
.menu-create-modal,
.product-create-modal,
.branch-create-modal,
.table-create-modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.user-details-content,
.menu-details-content,
.branch-details-content,
.product-details-content,
.menu-update-content,
.product-update-content,
.branch-update-content,
.menu-create-content,
.product-create-content,
.branch-create-content,
.table-create-content {
  background-color: #edece1;
  margin: 5% auto;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
  min-width: 317px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation: modalFadeIn 0.3s;
}

.branch-update-content,
.branch-details-content,
.branch-create-content {
  max-width: 800px;
}

@keyframes modalFadeIn {
  from {opacity: 0; transform: translateY(-20px);}
  to {opacity: 1; transform: translateY(0);}
}

.user-details-header,
.menu-details-header,
.branch-details-header,
.product-details-header,
.menu-update-header,
.product-update-header,
.branch-update-header,
.menu-create-header,
.product-create-header,
.branch-create-header,
.table-create-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #81818140;
  margin-bottom: 20px;
}

.user-details-header h2,
.menu-details-header h2,
.branch-details-header h2,
.product-details-header h2,
.menu-update-header h2,
.product-update-header h2,
.branch-update-header h2,
.menu-create-header h2,
.product-create-header h2,
.branch-create-header h2,
.table-create-header h2 {
  color: #000;
  margin: 0;
  font-size: 24px;
}

.close-menu-details,
.close-branch-details,
.close-user-details,
.close-product-details,
.close-menu-update,
.close-product-update,
.close-branch-update,
.close-menu-create,
.close-product-create,
.close-branch-create,
.close-table-create {
  color: #3a3a3a;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.close-menu-details:hover,
.close-branch-details:hover,
.close-user-details:hover,
.close-product-details:hover,
.close-menu-update:hover,
.close-product-update:hover,
.close-branch-update:hover,
.close-menu-create:hover,
.close-product-create:hover,
.close-branch-create:hover,
.close-table-create:hover {
  color: #ffc515;
}

.menu-row,
.reservation-row,
.city-row,
.branch-row,
.user-row,
.product-row {
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-row:hover,
.reservation-row:hover,
.city-row:hover,
.branch-row:hover,
.user-row:hover,
.product-row:hover {
  background-color: #ebebeb;
}


/* Sayfalama Stilleri */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 15px;
}

.pagination-btn {
  background-color: #c8cbdd;
  color: #000;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-btn:hover:not(:disabled) {
  background-color: #ffc515;
  color: #1b203d;
}

.pagination-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#pageInfo, 
#menuPageInfo, 
#cityPageInfo,
#branchPageInfo,
#reservationPageInfo,
#userPageInfo,
#productPageInfo {
  color: #000;
  font-size: 14px;
  min-width: 100px;
  text-align: center;
}




/* Entity Detayları Modal Stili */

.menu-details-body,
.branch-details-body,
.user-details-body,
.product-details-body,
.menu-update-body,
.product-update-body,
.branch-update-body,
.menu-create-body,
.product-create-body,
.branch-create-body,
.table-create-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.menu-image-container,
.product-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.menu-update-body .menu-image-container,
.product-update-body .product-image-container,
.menu-create-body .menu-image-container,
.product-create-body .product-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-input{
  display: none;
}

.btn-update-menu,
.btn-update-product,
.btn-add-menu,
.btn-add-table,
.btn-add-product{
  margin-top: 15px;
  border: none;
  padding: 13px 16px;
  width: 150px;
  font-size: 17px;
}

.btn-update-branch,
.btn-add-branch {
  margin-right: 15px;
  padding: 1px 14px;
  margin-top: 0px;
  height: 40px;
  border: none;
  width: 150px;
  font-size: 15px;
}

.custom-upload-button{
  margin-top: 25px;
  padding: 8px 16px;
  font-size: 14px;
}

.custom-upload-button,
.btn-update-menu,
.btn-update-product,
.btn-update-branch,
.btn-add-branch,
.btn-add-table,
.btn-add-menu,
.btn-add-product{
  display: inline-block;
  background-color: #ffc515;
  color: #000;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-upload-button:hover,
.btn-update-menu:hover,
.btn-update-product:hover,
.btn-update-branch:hover,
.btn-add-branch:hover,
.btn-add-table:hover,
.btn-add-menu:hover,
.btn-add-product:hover{
  background-color: #ffd760;;
}

.menu-detail-image,
.product-detail-image,
.menu-update-image,
.product-update-image,
.branch-update-image,
.menu-create-image,
.product-create-image {
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.menu-info,
.user-info,
.product-info,
.branch-info,
.table-info {
  color: #000;
  border: 1px solid #81818140;
  width: 100%;
}

.branch-info {
  display: flex;
  flex-wrap: wrap;              
  gap: 6px;                    
  justify-content: space-between;
  align-items: center;
}

.branch-update-body .branch-info,
.branch-create-body .branch-info {
  border: none;
}

.menu-info-item,
.user-info-item,
.product-info-item,
.branch-info-item,
.table-info-item {
  display: flex;
  align-items: center;
  margin: 0 15px;
  border-bottom: 1px solid #81818140;
}

.branch-info-item {
  flex: 0 0 auto;    /* Her eleman genişliğin yaklaşık %50'sini kaplasın */
  width: 45%;
}

.branch-update-body .branch-info-item,
.branch-create-body .branch-info-item {
  border: none;
}

.menu-info-item:last-child,
.user-info-item:last-child,
.product-info-item:last-child,
.branch-info-item:last-child,
.table-info-item:last-child {
  border-bottom: none;
} 

.menu-label,
.user-label,
.product-label,
.branch-label,
.table-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  width: 40%;
}

.branch-label {
  width: 27%;
}

.menu-label strong,
.user-label strong,
.product-label strong,
.branch-label strong,
.table-label strong {
  color: #000;
  margin-right: 10px;
  display: inline-block;
  width: 100%;
}

.menu-label span,
.user-label span,
.product-label span,
.branch-label span,
.table-label span {
  font-weight: bold;
}

.menu-update-body .menu-value,
.product-update-body .product-value,
.branch-update-body .branch-value,
.menu-create-body .menu-value,
.product-create-body .product-value,
.branch-create-body .branch-value,
.table-create-body .table-value {
  border: 1px solid #ddd;
  padding: 5px 8px;
  border-radius: 6px;
  transition: all 0.3s ease;
  width: 60%;
}

.branch-value:focus-visible,
.table-value:focus-visible,
.menu-update-body .menu-value:focus-visible,
.product-update-body .product-value:focus-visible,
.menu-create-body .menu-value:focus-visible,
.product-create-body .product-value:focus-visible {
  outline: none;
  border: 1px solid #ffc515;
}

.menu-value,
.user-value,
.product-value,
.branch-value,
.table-value {
  margin: 10px 0;
  margin-left: 15px;
  font-size: 16px;
  line-height: 1.5;
  padding: 5px 10px;
}

.branch-value {
  width: 73% !important;
}

.empty-table-row {
  text-align: center;
  padding: 20px 0;
  color: #888; 
  font-style: italic;
  padding: 20px !important;
}

.table-section .empty-table-row {
  font-size: 14px;
}


/* Menü ve Ürün İşlemleri İçin Buton Stili */
.btn-create-menu,
.btn-manage-table,
.btn-create-product,
.btn-create-branch,
.btn-all-branches {
  padding: 10px 12px;
  font-size: 14px;
}

.btn-edit-menu,
.btn-edit-product,
.btn-edit-branch,
.btn-delete-menu,
.btn-delete-product,
.btn-delete-branch,
.btn-products-menu,
.btn-branches-city,
.btn-menu,
.btn-city,
.btn-reservation {
  padding: 8px 10px;
}

.btn-products-menu,
.btn-menu,
.btn-city,
.btn-edit-menu,
.btn-edit-product, 
.btn-edit-branch {
  margin-left: 8px;
}

.btn-edit-menu,
.btn-create-menu,
.btn-manage-table,
.btn-create-product,
.btn-create-branch,
.btn-all-branches,
.btn-edit-product,
.btn-edit-branch,
.btn-delete-menu,
.btn-delete-product,
.btn-delete-branch,
.btn-products-menu,
.btn-branches-city,
.btn-menu,
.btn-city,
.btn-reservation {
  background-color: #ffc515;
  color: #1b203d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s;
}

.btn-edit-menu:hover,
.btn-create-menu:hover,
.btn-manage-table:hover,
.btn-edit-product:hover,
.btn-edit-branch:hover,
.btn-delete-menu:hover,
.btn-delete-product:hover,
.btn-delete-branch:hover,
.btn-create-product:hover,
.btn-create-branch:hover,
.btn-all-branches:hover,
.btn-products-menu:hover,
.btn-branches-city:hover,
.btn-menu:hover,
.btn-city:hover,
.btn-reservation:hover {
  background-color: #ffd760;
}

.table-management {
  position: relative;
}

.table-options {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  width: 180px;
  border-radius: 5px;
  border: 2px solid #ffc515;
  position: absolute;
  z-index: 8;
  left: 36%;
  top: 116%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.3s;
}

.table-manage-button {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  color: #000;
  padding: 10px 0;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #ffc515;
  transition: all .3s ease-in-out;
}

.table-manage-button:last-child {
  border-bottom: none;
}

.table-manage-button:hover {
  background-color: #ffc515;
  color: #fff;
}

.table-manage-show {
  opacity: 1;
  visibility: visible;
}

.btn-edit-menu i,
.btn-create-menu i,
.btn-manage-table i,
.btn-edit-product i,
.btn-edit-branch i,
.btn-delete-menu i,
.btn-delete-product i,
.btn-delete-branch i,
.btn-create-product i,
.btn-create-branch i,
.btn-all-branches i,
.btn-products-menu i,
.btn-branches-city i,
.btn-menu i,
.btn-city i,
.btn-reservation i {
  margin-right: 3px;
}

.btn-manage-table i {
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(90deg);
}


/* Menüler Container Stili */
.menus-container,
.reservations-container,
.cities-container,
.branches-container,
.users-container,
.products-container {
  width: 98.5%;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  min-width: 317px;
  margin: 17px auto 0 auto;
}

.reservations-container.subdivision {
  margin-top: 20px;
}

.menus-header,
.reservations-header,
.cities-header,
.branches-header,
.users-header,
.products-header {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #81818140;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menus-header h2,
.reservations-header h2,
.cities-header h2,
.branches-header h2,
.users-header h2,
.products-header h2 {
  color: #000;
  margin: 0;
  font-size: 24px;
}

.menus-body,
.reservations-body,
.cities-body,
.branches-body,
.users-body,
.products-body {
  color: #000;
  overflow-x: auto;
}

.reservations-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-x: unset;
}

.subdivision .reservations-body {
  display: block;
  overflow-x: auto;
}

.table-section {
  width: 38%;
  text-align: center;
}

.table-section h2 {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
}

.table-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px 30px;
}

.table-item {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #dedbdb;
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #000;
  position: relative;
  cursor: pointer;
}

.table-item:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #4f4f4f;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1000;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.reservation-section{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reservation-box {
  width: 48%;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-wrapper input,
.dropdown-toggle {
  width: 100%;
  height: 40px;
  padding: 8px 40px 8px 7px; 
  font-size: 1.6rem;
  letter-spacing: .03rem;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 2px solid #dedbdb;
  background: #fff;
  font-family: "Mulish", sans-serif;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #797878;
  transition: all 0.2s ease-in;
}

.input-wrapper input:focus {
  outline: 0;
  border-color: #ffc515;
}

.input-wrapper #filter-name {
  color: #000;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 112%;
  left: 0;
  right: 0;
  background: white;
  border: 2px solid #dedbdb;
  display: none;
  z-index: 10;
  border-radius: 4px;
}

.dropdown-menu.active {
  display: block;
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: "Mulish", sans-serif;
}

.dropdown-option:hover {
  background: #f0f0f0;
}

.input-wrapper label {
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 5px;
  margin-bottom: 7px;
  display: inline-block;
  font-family: "Mulish", sans-serif;
  letter-spacing: .04rem;
}

.search-button, 
.input-wrapper select {
  cursor: pointer;
}

.input-wrapper select:focus-visible{
  outline: 0;
}

.search-button,
.input-wrapper span {
  position: absolute;
  top: 33%;
  right: 0px;
  padding: 0 10px;
  transform: translateY(-50%);
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  font-size: 1.8rem;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #ffc515;
  transition: all .2s ease-in;
  background-color: #ffc515;
}

.input-wrapper .location{
  font-size: 2.4rem;
}

.input-wrapper .chair,
.input-wrapper .calendar{
  font-size: 2rem;
}

.input-wrapper .calendar {
  top: 52%;
}

#filter-start-date,
#filter-end-date {
  font-family: 'Arial', sans-serif;
  font-size: 1.6rem;
  color: #444;
}

.search-button:hover{
  background-color: #ffd760;
}

/* Tüm tarayıcılarda default calendar ikonunu gizliyoruz */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}

input[type="date"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.menus-table,
.reservations-table,
.cities-table,
.branches-table,
.users-table,
.products-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}


/* Toggle Switch Stili */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 28px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 3px;
  bottom: 0;
  background-color: #dc3545;
  transition: .4s;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 5px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .toggle-slider {
  background-color: #28a745;
}

input:checked + .toggle-slider:before {
  transform: translateX(43px);
}

input:checked + .toggle-slider:after {
  content: "Aktif";
  margin-right: 17px;
  transition: margin-right 0.4s ease;
}

input:not(:checked) + .toggle-slider:after {
  content: "Pasif";
  margin-left: 17px;
  transition: margin-left 0.4s ease;
}


/* SweetAlert2 Özel Stilleri */
.swal2-popup-custom {
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
  padding: 2.6em;
  width: 400px;
  height: 300px;
}

.swal2-icon-custom{
  margin-top: .5em;
}

.swal2-title-custom {
  color: #333;
  font-size: 2.3em;
  font-weight: 600;
}

.swal2-content-custom {
  color: #666;
  font-size: 1.6em;
  padding: 1em .3em 0.3em;;
}

.swal2-confirm-custom {
  background-color: #d33 !important;
}

.swal2-confirm-custom,
.swal2-cancel-custom{ 
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: none !important;
  padding: 0.5em 2em !important;
  font-size: 1.3em !important;
  border-radius: 5px !important;
  letter-spacing: .05em;
}

.swal2-cancel-custom {
  background-color: #3085d6 !important;
}

.swal2-confirm-custom:hover {
  background-color: #c22 !important;
}

.swal2-cancel-custom:hover {
  background-color: #2a7bc8 !important;
}

.truncate {
  max-width: 230px; 
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle; 
}

/* Responsive Tasarım Media Queries */
@media screen and (max-width: 1200px) {
  .col-div-3 {
    width: 50%;
  }

  .users, .menu{
    margin-bottom: 10px;
  }
  
  .col-div-8 {
    width: 60%;
  }
  
  .col-div-4 {
    width: 40%;
  }

  .menus-table td:nth-child(1){
    width: 15%;
  }
  
  .menus-table td:nth-child(2),
  .menus-table td:nth-child(3){
    width: 20%;
  }
  
  .menus-table td:nth-child(4){
    width: 45%;
  }
}


@media screen and (max-width: 1834px){
  .head{
    padding: 10px 25px;
  }
  
  .products-table td:nth-child(6){
    width: 10%;
  }

  .products-table td:nth-child(2),
  .products-table td:nth-child(3){
    width: 15%;
  }
  
  .products-table td:nth-child(4),
  .products-table td:nth-child(5){
    width: 15%;
  }
  
  .products-table td:nth-child(6){
    width: 30%;
  }
}


@media screen and (max-width: 1144px){
  .products-table td,
  .products-table th,
  .menus-table td, 
  .menus-table th {
    padding: 12px 25px;
  }

  .products-table td:nth-child(2),
  .products-table td:nth-child(3),
  .products-table td:nth-child(4),
  .products-table td:nth-child(5){
    width: 13%;
  }
  
  .products-table td:nth-child(6){
    width: 36%;
  }

  .branches-table .city-col {
    width: 8%;
  }
  
  .branches-table .branch-name-col,
  .branches-table .address-col,
  .branches-table .email-col {
    width: 22%;
  }
  
  .branches-table .actions-col {
    width: 26%;
  }
}


@media screen and (max-width: 1001px) and (min-width: 992px){
  .menus-table td:nth-child(1){
    width: 14%;
  }
  
  .menus-table td:nth-child(2),
  .menus-table td:nth-child(3){
    width: 20%;
  }
  
  .menus-table td:nth-child(4){
    width: 46%;
  }
}


@media screen and (max-width: 992px) {
  #main {
    margin-left: 0;
    padding: 10px;
  }  

  .head {
    padding: 10px 16px;
  }
  
  .dashboard-content{
    margin-top: 55px;
  }

  .users, 
  .menu{
    margin-top: 13px;
    margin-bottom: 15px;
  }

  .orders, 
  .reservations{
    margin-top: 0px;
    margin-bottom: 5px;
  }
  
  .col-div-8, 
  .col-div-4 {
    width: 100%;
    margin-top: 20px;
  }
  
  .box-8, 
  .box-4 {
    margin-bottom: 20px;
    width: 97%;
  }

  .branch-update-content,
  .branch-details-content,
  .branch-create-content {
    max-width: 500px;
  }

  .branch-info {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .branch-info-item {
    width: 93%;
  }

  .btn-update-branch,
  .btn-add-branch {
    margin-left: auto;
    margin-top: 5px;
  }
}


@media screen and (max-width: 768px) {
  .head {
    padding: 10px 14px;
  }

  .menus-table td:nth-child(1){
    width: 10%;
  }
  
  .menus-table td:nth-child(2),
  .menus-table td:nth-child(3){
    width: 20%;
  }
  
  .menus-table td:nth-child(4){
    width: 50%;
  }

  .sidenav 
  .sidenav-header 
  .logo {
    font-size: 33px;
  }

  .sidenav a {
    font-size: 20px;
  }

  .users, 
  .menu{
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .orders, 
  .reservations{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .col-div-8, 
  .col-div-4 {
    margin-top: 10px;
  }

  .box-8, 
  .box-4 {
    margin-bottom: 10px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }

  .box {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  
  .box p {
    font-size: 30px;
  }
  
  .box-icon {
    font-size: 35px!important;
  }
  
  .profile {
    float: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 0;
  }
  
  #menuToggle {
    white-space: nowrap;
  }
  
  .menu-details-header h2,
  .branch-details-header h2,
  .user-details-header h2,
  .product-details-header h2,
  .menu-update-header h2,
  .product-update-header h2,
  .branch-update-header h2,
  .menu-create-header h2,
  .product-create-header h2,
  .branch-create-header h2,
  .table-create-header h2 {
    font-size: 20px;
  }
   
  .products-table th:first-child,
  .products-table td:first-child,
  .menus-table th:first-child,
  .menus-table td:first-child {
    padding: 0px 13px;
  }

  .cities-table th,
  .cities-table td,
  .branches-table th,
  .branches-table td,
  .reservations-table th,
  .reservations-table td {
    padding: 12px 14px;
  }

  
  .profile > div {
    display: flex !important;
    align-items: center !important;
  }

  .user-details-content,
  .menu-details-content,
  .branch-details-content,
  .product-details-content,
  .menu-update-content,
  .product-update-content,
  .branch-update-content,
  .menu-create-content,
  .product-create-content,
  .branch-create-content,
  .table-create-content {
    margin: 10% auto;
    width: 95%;
    padding: 15px;
  }

  .menu-detail-image,
  .product-detail-image,
  .menu-update-image,
  .product-update-image,
  .branch-update-image,
  .menu-create-image,
  .product-create-image {
    max-height: 250px;
  }

  .custom-upload-button {
    padding: 7px 14px;
  }
  
  .btn-update-menu,
  .btn-update-product,
  .btn-update-branch,
  .btn-add-branch,
  .btn-add-table,
  .btn-add-menu,
  .btn-add-product{
    padding: 12px 14px;
    width: 140px;
    font-size: 15px;
  }

  .menu-info,
  .user-info,
  .product-info,
  .branch-info,
  .table-info {
    width: 95%;
  }

  .toggle-switch {
    width: 50px;
    height: 23px;
  }
    
  .toggle-slider:before {
    height: 17px;
    width: 17px;
    bottom: 3px;
  }
    
  input:checked + .toggle-slider:before {
    transform: translateX(22px);
  }

  input:checked + .toggle-slider:after,
  input:not(:checked) + .toggle-slider:after {
    content: "";
  }

  .reservation-box {
    width: 100%;
  }

  .table-box {
    padding: 15px 20px;
  }
}


@media screen and (max-width: 600px) {
  .reservation-section {
    width: 100%;
    order: 2;
  }

  .table-section {
    width: 100%;
    order: 1;
    margin-bottom: 20px;
  }
}


@media screen and (max-width: 480px) {
  .sidenav {
    width: 215px;
  }

  .sidenav 
  .sidenav-header 
  .logo {
    font-size: 30px;
  }

  .sidenav a {
    font-size: 18px;
  }

  .pro-img{
    margin-top: 0px;
  }

  .users, .menu{
    margin-top: 8px;
  }

  .menu-label, 
  .user-label,
  .product-label,
  .branch-label,
  .table-label {
    font-size: 14px;
  }

  .menu-value, 
  .user-value,
  .product-value,
  .branch-value
  .table-value {
    font-size: 14px;
  }
  
  .menu-details-body, 
  .branch-details-body,
  .user-details-body,
  .product-details-body, 
  .menu-update-body, 
  .product-update-body, 
  .branch-update-body,
  .menu-create-body,
  .product-create-body,
  .branch-create-body,
  .table-create-body {
    align-items: center;
  }

  .col-div-3 {
    width: 100%;
  }

  .box p {
    font-size: 25px;
  }
  
  .box p span {
    font-size: 18px;
  }
  
  .box-icon {
    font-size: 30px!important;
  }

  .content-box {
    overflow-x: auto;
  }
  
  .content-box p {
    font-size: 18px;
  }

  .profile {
    font-size: 12px;
    margin-left: 0;
  }
  
  .profile span {
    font-size: 10px;
  }
  
  .pro-img {
    width: 30px;
  }

  #menuToggle {
    font-size: 27px;
  }
  
  .menu-details-header h2,
  .branch-details-header h2,
  .user-details-header h2
  .product-details-header h2,
  .menu-update-header h2,
  .product-update-header h2,
  .branch-update-header h2,
  .menu-create-header h2,
  .product-create-header h2,
  .branch-create-header h2,
  .table-create-header h2 {
    font-size: 18px;
  }
  
  .head {
    padding: 12px 3px;
  }
  
  .col-div-6:first-child {
    flex: 1;
    min-width: 0;
    padding-left: 10px;
  }

  .profile > div > div {
    display: none;
  }
  
  .adminInfo {
    padding-right: 10px;
    margin-right: 0;
    width: 30%;
  }

  .menu-details-content,
  .branch-details-content,
  .user-details-content
  .product-details-content,
  .menu-update-content,
  .product-update-content,
  .branch-update-content,
  .menu-create-content,
  .product-create-content,
  .branch-create-content,
  .table-create-content {
    margin: 15% auto;
    padding: 10px;
  }

  .menu-detail-image,
  .product-detail-image,
  .menu-update-image,
  .product-update-image,
  .branch-update-image,
  .menu-create-image,
  .product-create-image {
    max-height: 200px;
  }

  .custom-upload-button {
    padding: 6px 13px;
    font-size: 13px;
  }

  .btn-create-menu,
  .btn-manage-table,
  .btn-create-product,
  .btn-create-branch,
  .btn-all-branches {
    padding: 8px 10px;
  }
  
  .btn-update-menu,
  .btn-update-product,
  .btn-update-branch,
  .btn-add-branch,
  .btn-add-table,
  .btn-add-menu,
  .btn-add-product{
    padding: 11px 13px;
    width: 130px;
    font-size: 14px;
  }

  .btn-edit-menu,
  .btn-edit-product,
  .btn-edit-branch,
  .btn-delete-menu,
  .btn-delete-product,
  .btn-delete-branch,
  .btn-products-menu,
  .btn-branches-city,
  .btn-menu,
  .btn-city,
  .btn-reservation {
    padding: 6px 8px;
    font-size: 13px;
  }

  .menus-header h2, 
  .reservations-header h2, 
  .cities-header h2, 
  .branches-header h2, 
  .users-header h2, 
  .products-header h2 {
    font-size: 20px;
  }

  .table-options {
    width: 160px;
    left: 41%;
  }
}


@media screen and (max-width: 400px) {
  .box {
    min-width: 310px;
  }

  .sidenav {
    width: 205px;
  }

  .sidenav 
  .sidenav-header 
  .logo {
    font-size: 27px;
  }

  .sidenav a {
    font-size: 16px;
  }

  .btn-create-menu,
  .btn-manage-table,
  .btn-create-product,
  .btn-create-branch,
  .btn-all-branches {
    padding: 8px 9px;
    font-size: 13px;
  }

  .btn-edit-menu,
  .btn-edit-product,
  .btn-edit-branch,
  .btn-delete-menu,
  .btn-delete-product,
  .btn-delete-branch,
  .btn-products-menu,
  .btn-branches-city,
  .btn-menu,
  .btn-city,
  .btn-reservation {
    padding: 5px 8px;
    font-size: 12px;
  }

  .swal2-popup-custom {
    border-radius: 10px;
    padding: 2.3em;
    width: 350px;
    height: 270px;
  }
 
  .swal2-icon-custom{
    width: 4em;
    height: 4em;
  }
  
  .swal2-title-custom {
    font-size: 2.1em;
    padding: 0.4em 1em 0;
  }

  .swal2-content-custom {
    font-size: 1.5em;
    padding: .5em .5em 0.3em;
  }

  .swal2-actions{
    margin: 0 auto !important;
  }

  .swal2-confirm-custom, 
  .swal2-cancel-custom {
    font-size: 1.2em !important;
    padding: 0.5em 1.8em !important;
  }

  .input-wrapper input,
  .dropdown-toggle {
    font-size: 1.4rem;
    letter-spacing: .04rem;
  }

  .dropdown-option {
    font-size: 1.4rem;
  }

  .input-wrapper label {
    font-size: 1.2rem;
    letter-spacing: .05rem;
  }

  #filter-start-date, 
  #filter-end-date {
    font-size: 1.5rem;
  }

  .table-section h2 {
    font-size: 16px;
  }

  .table-options {
    width: 145px;
    left: 43%;
  }

  .table-manage-button {
    font-size: 13px;
  }

  .table-item {
    width: 45px;
    height: 45px;
    font-size: 14px;
  }
}







