header{
    background-image: url(../images/menu-hero.jpg);
}

header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .75);
}

.menus{
    margin-top: 50px;
}

.row{
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto;
    gap: 50px 20px;
}

.menu-image{
    position: relative;
    border-radius: 25px;
    box-shadow: 0 0 13px #000;
}

.menu-image img{
    height: 250px;
    max-width: 250px; 
    border-radius: 25px;
    position: relative;
    display: block;
}

.menu-image .img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #000;
    opacity: 0;
    color: transparent;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.menu-image:hover .img-overlay{
    opacity: 0.8;
}

.menu-image:hover .img-overlay .name{
    opacity: 1 ;
    font-size: 2.3rem;
    font-weight: 700;
    color: #fff;
}


 







