.preview.btn-outline-info,
.preview.btn-outline-warning,
.preview.btn-outline-dark {
    cursor: pointer;
}

.preview-info-box {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #ffc515;
    z-index: 10;
}

.preview-info-box p {
    font-size: 17px;
    font-weight: 600;
    width: 200px;
    text-align: center;
}

.preview-info-box i {
    font-size: 16px;
}

.image-editor{
    position: absolute;
}

.about-image .image-editor {
    top: 30px;
    right: 20px;
}

#previewHomeImage .image-editor {
    top: 95px;
    right: 40px;
}

.image-upload-wrapper {
    border: none;
    border-radius: 10px;
    color: #000;
    background-color: #ffc515;
    font-size: 16px;
    transition: all .3s ease-in-out;
}

.image-editor,
.image-editor-actions,
.text-editor-actions {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    z-index: 5;
    gap: 15px;
}

.image-editor-actions {
    display: none;
}

.btn-save,
.btn-undo {
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    color: #fff;
    padding: 13px 25px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.btn-save,
.btn-save-text {
    background-color: #3c930a;
}

.btn-undo {
    background-color: #930a0a;
}

.save-loader {
    width: 15px;
    height: 15px;
    display: none;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.image-upload-wrapper:hover,
.btn-save:hover,
.btn-undo:hover {
    transform: translateY(-15%);
}

.image-upload-wrapper:hover {
    background-color: #eebf32;
}

.btn-save:hover {
    background-color: #4ebc0e;
}

.btn-undo:hover {
    background-color: #bc0e0e;
}

.custom-upload-button {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 13px 25px;
    cursor: pointer;
}

.about-section-actions {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-top: 15px;
    height: 105px;
}

.about-section-actions .btn{
    height: 42px;
    margin: 0 !important;
}

.text-editor {
    display: none;
}

.menu .image-editor {
    top: 40px;
    right: 40px;
}

.image-input {
    display: none;
}

textarea.about-text {
    height: 240px;
    padding: 12px;
    font-family: 'Open Sans', sans-serif;
    border: 3px solid #bdb6b6;
    transition: border .3s ease-in-out;
}

textarea.about-text:focus {
    border: 3px solid #ffc515;
}

textarea.about-text:focus-visible {
    outline: none;
}

.menu p {
    text-align: center;
    font-size: 14px;
}

.menu p a {
    color: #ffc515;
}

.swap-info-box {
    display: flex;
    align-items: center;
    background-color: #fff8e1;
    border: 1px solid #ffc107;
    padding: 10px 14px;
    border-radius: 8px;
    color: #7a5d00;
    font-weight: 500;
    font-size: 14px;
    gap: 8px;
    margin: 25px auto;
    width: 40%;
    justify-content: center;
}

.swap-info-box i {
  color: #ffc107;
}
  
.new-food {
    font-size: 18px;
    margin-bottom: 15px;
}

.admin-btn-delete-product {
    position: absolute;
    font-size: 36px;
    color: #ffc515;
    top: 6px;
    left: 6px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.admin-btn-delete-product:hover {
    color: #f61717;
}

.dropdown {
    position: relative;
    width: 240px;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-toggle {
    width: 100%;
    height: 45px;
    padding: 10px 40px 10px 7px;
    font-size: 1.6rem;
    letter-spacing: .03rem;
    border-radius: 5px;
    border: 3px solid #dedbdb;
    background: #fff;
    font-family: "Mulish", sans-serif;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #797878;
    transition: all 0.2s ease-in;
}

.dropdown-product {
    position: absolute;
    top: 112%;
    left: 0;
    right: 0;
    background: #fff;
    border: 2px solid #dedbdb;
    display: none;
    z-index: 10;
    border-radius: 4px;
    max-height: 160px;
    overflow-x: auto;
    color: #000;
}

.dropdown-product.active {
    display: block;
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: "Mulish", sans-serif;
}

.dropdown-option:hover {
    background: #f0f0f0;
}

.empty-list {
    text-align: center;
    padding: 20px 0;
    color: #888; 
    font-style: italic;
    padding: 20px !important;
}

@media screen and (max-width: 1450px) { 
    .about-section-actions {
        width: 100%;
    }
}


@media screen and (max-width: 1200px) {
    .swap-info-box {
        width: 50%;
    }
}


@media screen and (max-width: 992px) { 
    .about-image .image-editor {
        top: 530px;
        right: 60px;
    }

    .swap-info-box {
        width: 60%;
    }
}


@media screen and (max-width: 768px) { 
    .preview-info-box p {
        font-size: 16px;
        width: 180px;
    }
    
    .preview-info-box i {
        font-size: 15px;
    }

    #previewHomeImage .image-editor {
        right: 30px;
    }

    .about-image .image-editor {
        top: 525px;
        right: 50px;
    }

    .menu .image-editor {
        top: 30px;
        right: 30px;
    }

    .image-upload-wrapper { 
        font-size: 15px;
    }

    .custom-upload-button {
        padding: 11px 23px;
    }

    .btn-save, .btn-undo {
        padding: 10px 22px;
        font-size: 15px;
    }

    .swap-info-box {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .about-image .image-editor {
        right: 45px;
    }

    .swap-info-box {
        width: 80%;
    }
 }


@media screen and (max-width: 480px) { 
    .preview-info-box p {
        font-size: 15px;
        width: 170px;
    }
    
    .preview-info-box i {
        font-size: 14px;
    }

    #previewHomeImage .image-editor {
        right: 20px;
    }

    .about-image .image-editor {
        right: 23px;
    }

    .menu .image-editor {
        top: 25px;
        right: 20px;
    }

    .image-upload-wrapper {
        font-size: 14px;
    }

    .custom-upload-button {
        gap: 6px;
        padding: 10px 18px;
    }

    .btn-save, .btn-undo {
        padding: 10px 20px;
        font-size: 14px;
    }

    .about-section-actions .btn {
        width: 170px;
        height: 65px;
        line-height: 23px;
    }

    .dropdown {
        width: 180px;
    }

    .swap-info-box {
        width: 85%;
        font-size: 13px;
    }
}


@media screen and (max-width: 360px) {
    .admin-btn-delete-product {
        top: -4px;
        left: -4px;
    }
}
