@import "../css/fontawesome.min.css";

header{
    background-image: url(../../images/about-hero.jpeg);
}

.text{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    text-align: justify;
    line-height: 30px;
}

.text p{
    width: 46%;
}

.chefs{
    background-image: url(../../images/about-chef-section.jpg);
    color: #fff;
}

.chefs .box{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
}

.chef{
    margin-right:15px;
    flex: 1 0 0;
    transition: all .3s;
    text-align: center;
}

.chef:last-child{
    margin-right: 0;
}

.chef:hover{
    transform: translateY(-15px);
}

.chef img {
    height: 400px;
    max-width: 100%;
    object-fit: cover; 
    border-radius: 30px;
}

.chef .chef-information{
    padding: 0 30px;
}

.chef h2{
    font-size: 2.3rem;
    color: #ffc515;
    margin-top: 40px;
    text-align: center;
}

.chef p{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 12px;
}


/* Testimonials*/

.case{
    width: 100%;
    height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.cloud{
    width: 300px;
    height: 200px;
    background-color: #e7e7e7;
    border-radius: 20px;
    position: relative;
    padding: 35px 50px;
    font-weight: 600;
    font-size: 1.2rem;
    color: #646060;
    font-style: italic;
}

.cloud .notch{
    position: absolute;
    top: 100%;
    left: 25%;
    width: 0;
    height: 0;
    border-top: 40px solid #e7e7e7;
    border-right: 40px solid transparent;
}

.cloud::before{
    font-family: 'FontAwesome';
    content: "\f10d";
    font-size: 2rem;
    position: absolute;
    top: 10%;
    left: 7%;
    opacity: .6;
}

.cloud::after{
    font-family: 'FontAwesome';
    content: "\f10e";
    font-size: 2rem;
    position: absolute;
    top: 80%;
    left: 85%;
    opacity: .6;
}

.person{
    margin-top: 50px;
    position: relative;
}

.person img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #ffc515;
    margin-left: 10px;
    padding: 3px;
}

.person span{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 23px;
    position: absolute;
    top: 45px;
    color: #646060;
}


